$color: #eccba9;
$color-hovered: #fff;
$modal-color: #000;
$size: 20px;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
input[type="number"] {
   -moz-appearance: textfield;
}

:root {
   --toastify-color-success: #eccba9;
   --toastify-color-error: #bf616a;
}

body {
   background: #000
      url("https://web.poecdn.com/protected/image/layout/ancestor-bg.jpg?v=1693392557730&key=EZnPlsvdgPo5qWE6ZraQGg")
      no-repeat top center fixed;
   background-size: cover;
   color: $color;
   font-size: $size;

   &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      backdrop-filter: blur(1px) opacity(0.4) saturate(1.8);
      z-index: -1;
   }
}

a {
   color: $color;
   text-decoration: none;
   cursor: pointer;

   &:hover {
      color: $color-hovered;
   }
}

.landing {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.poe-modal {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.4);
   display: flex;
   align-items: center;
   justify-content: center;
   color: $modal-color;
}

.modal-login {
   flex: 0 1 600px;
   margin: 0 20px;
}

.modal-medium {
   flex: 0 1 1000px;
   margin: 0 20px;
}

.modal-wrap {
   max-height: 80vh;
   overflow: auto;
}

.harvest-map {
   padding-bottom: 20px;
   border-bottom: 2px solid $color;
   margin-bottom: 20px;
}

.harvest-table {
   background: transparent;
   backdrop-filter: blur(10px) brightness(1.5);
   border-radius: 15px;
   padding: 24px;
}

.harvest-table-body {
   background: transparent;
   backdrop-filter: blur(10px) brightness(1.5);
   border-radius: 15px;
   padding: 24px 58px 24px 24px;
}

.harvest-item {
   border-bottom: 1px solid $color;
   position: relative;

   &:first-child {
      .harvest-item-link {
         border-top-left-radius: 5px;
         border-top-right-radius: 5px;
      }
   }

   &:last-child {
      border-bottom: none;

      .harvest-item-link {
         border-bottom-left-radius: 5px;
         border-bottom-right-radius: 5px;
      }
   }
}

.harvest-item-link {
   transition: 0.3s ease;

   &:hover {
      color: inherit;
      backdrop-filter: brightness(1.5);
   }
}

.harvest-delete-btn {
   position: absolute;
   top: 50%;
   right: 0;
   transform: translate(calc(100% + 11px), -50%);
}

.btn-delete {
   font-size: 25px;
   line-height: 15px;
   width: 35px;
   height: 35px;
   display: flex;
   justify-content: center;
}

.view-block {
   span {
      font-size: 16px;
      color: gray;
   }

   p {
      margin: 0px 0px 0px 0px;
   }
}
